body {
    background-color: #000000;
    text-color: #ffffff;
    font-family: Courier New;
    font-size: 24px;
}

#canvas-div {
    text-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    vertical-align: middle;
}

img {
    display:none;
}

#return-link {
    float: right; 
    margin: 0px; 
}